body {
    padding-top: 70px;
}

.well.col-md-4 {
    margin-right: 2%;
    width: 32%;
}

.well.col-md-4:last-child {
    margin-right: 0;
}

.well h1 {
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
}
