{% extends "base.html" %}

{% block title %}Trades{% endblock title %}

{% block content %}
    {% if trades_list %}
        <ul>
            {% for trade in trades_list %}
                <li><a href="{% url 'trades:detail' trade.id %}">{{ trade.title }}</a></li>
            {% endfor %}
        </ul>

        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/trades?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="/trades?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>No trades found!</p>
    {% endif %}
    <br />
    <a href="{% url 'trades:new_trade' %}">New Trade</a>
{% endblock content %}
