{% extends "base.html" %}

{% load latest_trades %}

{% block title %}Elder Scrolls Online Trades &amp; Auctions{% endblock title %}

{% block content %}
    <form method="get" action="{% url 'haystack_search' %}" class="form-inline" role="form">
        {% csrf_token %}
            <div class="input-group col-lg-6 center">
                <input type="text" class="form-control" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Search</button>
                </span>
            </div>
    </form>
{% endblock content %}

{% block subcontent %}
    <div class="well col-md-4">{% latest_trades %}</div>
    <div class="well col-md-4">asd</div>
    <div class="well col-md-4">asd</div>
{% endblock subcontent %}
